.popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup__content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .popup__icon{
    color: aliceblue;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: -40px;
  }

  .popup__icon:hover {
    color: #ffffff3b;
  }

  @media screen and (min-width: 768px) and (max-width: 1010px) {
    .popup__content {
      width: 300px;
    }
  }

@media screen and (min-width: 360px) and (max-width: 767px) {
    .popup__content {
        width: 250px;
    }
  }
