.navigation {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navigation__item {
    cursor: pointer;
    font-size: 20px;
    line-height: 25px;
}

.navigation__link {
  color: aliceblue;
  text-decoration: none;
}

.navigation__button {
  background-color: transparent;
  border: none;
  color: aliceblue;
  cursor: pointer;
}

.navigation__item:hover {
    color: rgb(202, 228, 251);
 }

.navigation__link:hover {
   color: rgb(202, 228, 251);
}

.navigation__button:hover {
    color: rgb(202, 228, 251);
}


 @media screen and (min-width: 360px) and (max-width: 767px) {
    .navigation {
      padding-right: 20px;
      padding-left: 20px;
    }

    .navigation__item {
        font-size: 15px;
        line-height: 20px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 359px) {
    .navigation__item {
        font-size: 15px;
        line-height: 20px;
    }
  }