.register-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    min-width: 358px;
    gap: 20px;
}

.register-form__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    display: table-caption;
    text-align: center;
}

.register-form__input {
  height: 27px;
  background-color: transparent;
  color: aliceblue;
  border: none;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 13px;
  margin-bottom: 30px;
}

.register-form__input:focus {
    outline: none;
}

.register-form__input::placeholder {
    color: aliceblue;
}

.register-form__button {
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.register-form__button:hover {
    opacity: 0.85;
}

.register-form__register-link {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-top: 7px;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    opacity: 0.85;
}